:root {
    --primary-color: #F5B79E; 
    --secondary-color: #A6C6D5;
    --third-color: #F7F7F9;
    --fourth-color: #007796;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



 /*first section with content*/
.main {
    width: 1920px;
    height: 1080px;
    background-image: url(/images/bg.jpg);
    background-size: cover;
}
.mainLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
}
.mainButton{
    display: inline-block;
    cursor: pointer;
    padding: 2rem 5.5rem;
    border-radius: 8px;
    background-color: var(--secondary-color);
    margin-left: 800px;
    margin-top: 100px;
    font-size: 30px;
}
.mainButton a{
    text-decoration: none;
    color: white;
}
 /*first section with content*/



 /*second section with content*/
 .main2 { 
    width: 1920px;
    height: 1080px;
    background-color: var(--primary-color);
    display: flex;
}
.main2, a, p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
.main2Home{
    font-size: 20px;
}
.main2, h1{
    font-size: 60px;
}
.main2Header{
    color: white;
}
.main2Img {
    width: 960px;
    height: 1080px;
}
.main2Container{
    margin-left: 25px;
    margin-right: 25px;
}
.main2Home{
    color: black;
    text-decoration: none;
}
.main2Mail{
    color: var(--fourth-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
}
/*second section with content*/













/*third section with content*/
.main3 { 
    width: 1920px;
    height: 1085px;
    background-color: var(--secondary-color);
}
.main3 h2 {
    text-align: center;
    margin-top: 0;
    padding-top: 45px;
    color: white;
    font-size: 100px;
}
.main3Container{
    display: flex;
}
.main3Txt{
    font-size: 40px;
    padding-right: 45px;
}

/*fourth section with content*/
.main4 {
    width: 1920px;
    height: 1080px;
    background-color: var(--third-color);
}
.main4 h1{
    text-align: center;
    font-size: 100px;
    margin-top: 45px;
}
.main4Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;

}
.main4Container img{
    padding-left: 270px;
}

.main4Container p{
    font-size: 22px;
    color: black;
    text-align: center;
}
















/*fifth section with content*/
.main5 {
    width: 1920px;
    height: 1080px;
    background-color: var(--primary-color);
}
.main5 h1{
    color: white;
    text-align: center;
    font-size: 100px;
}
.main5 p{
    padding-bottom: 50px;
    text-align: center;
}
