html, body {
    height: 100%;
}
body {
    margin: 0em;
}
.bg-image {
    margin: 0;
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-bottom: 10em;
}
.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.829);
}
button {
    cursor: hand;
    background-color: #2e6774;
    color: white;
    font-weight: 900;
    font-size: 1.1rem;
    border: none;
    padding: 1.3em 3em;
    display: block;
    margin: auto;
}
button:hover {
    background-color: #2389a0;
    transform: scale(1.1);
}
.animate__pulse {
    animation-iteration-count: infinite;
}
/*
.mouse { inspo https://codepen.io/timothylong/pen/brdgEP
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 28px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 16px;
}
.mouse:after {
    content: "";
    display: block;
    margin: 0 0 0 -2px;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 4px;
    height: 8px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    animation: scroll 1.3s linear 0s infinite;
}
@keyframes scroll {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    35% {
        transform: translate3d(0, 7px, 0);
        opacity: 1;
    }
    50% {
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
    50.001% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    80% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}*/

.txt-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.txt1, .txt2, .txt3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    color: white;
    text-align: center;
    background-color: #2e6774;
    width: 30%;
    height: 10em;
    border-radius: 3px;
    margin-top: 5em;
}
.txt1 img, .txt2 img, .txt3 img {
    margin-top: 1em;
}
section {
    height: 50%;
    background-color: #2e6774f3;
}